{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class='conteiner'>
        <h1>Добро пожаловать в наш медицинский центр!</h1>
        <p>Med-Cat — уникальный центр, где мы применяем инновационные методы лечения, основанные на удивительной силе кошачьего мурлыканья и кошачьей энергии. </p>
        <p>Наши авторские программы мурлыкотерапии, которелаксации и кошачьих объятий помогают восстановить гармонию, снять стресс и улучшить самочувствие.</p>
        <p>Погрузитесь в мир кошачьей магии и откройте для себя новые грани исцеления!</p>
    </div>
    <div class='content-image'>
    </div>
{% endblock %}
