{% extends 'base.html' %}
{% block title %}Services{% endblock %}
{% block content %}
    <div class="container">
        <h1>Наши услуги</h1>
        <ul>
            <li><h4>Мурлыкотерапия</h4></li>
                <p>Пациент обнимает кота, позволяя мурлыканью резонировать с телом, или лежит рядом с мурлыкающим котом. В некоторых случаях используются специальные «мурлыкательные» жилеты, чтобы усилить эффект.</p>
                <p>Показания: бессонница, стресс, мышечные боли, тревожность, ускорение восстановления после травм.</p>
            <li><h4>Кото-двигательная терапия</h4></li>
                <p>Пациент выполняет упражнения, имитирующие движения кошек, или играет с кошками.</p>
                <p>Показания: проблемы с подвижностью, реабилитация после травм, улучшение осанки.</p>
            <li><h4>Кото-осмотр</h4></li>
                <p>Считается, что кошки очень чувствительны к изменениям в организме человека и могут проявлять специфическое поведение (мурлыкать, вылизываться, пристально смотреть, прикасаться) в зависимости от проблем.</p>
                <p>Показания: Диагностика заболеваний, выявление проблемных зон в организме.</p>
            <li><h4>Кото-релаксация</h4></li>
                <p>Пациент находится рядом с котом, позволяя его биополю воздействовать на организм. Или используется «энергетическое прикосновение» кошачьих лапок.</p>
                <p>Показания: общая слабость, энергетический дисбаланс, замедление процессов выздоровления.</p>
            <li><h4>Кошачий гипноз</h4></li>
                <p>Пациент смотрит в глаза кошке, находясь в расслабленном состоянии, под руководством специалиста.</p>
                <p>Показания: психологические травмы, страхи, фобии, низкая самооценка.</p>
            <li><h4>Шерстетерапия</h4></li>
                <p>На больное место накладывается компресс из кошачьей шерсти или пациент заворачивается в «шерстяной кокон». Также могут использоваться специальные «шерстяные одеяла» с вшитой кошачьей шерстью.</p>
                <p>Показания: Воспаления, боли, тревога, нарушение сна.</p>
            <li><h4>Когтеукалывание</h4></li>
                <p>Кот нежно (или не очень) делает «массаж» лапами и когтями на определенных участках тела, следуя специальной схеме.</p>
                <p>Показания: мышечные зажимы, головные боли, энергетические блоки, хроническая усталость.</p>
            <li><h4>Кошачье компаньонство</h4></li>
                <p>Общение с животными, особенно с кошками, улучшает эмоциональное состояние, снижает уровень стресса, повышает уровень окситоцина (гормона любви и доверия).</p>
                <p>Показания: Одиночество, депрессия, стресс.</p>
        </ul>
        <h4>По всем вопросам и дополнительной консультации ждем вашего звонка!</h4>
    </div>
{% endblock %}